<h1 mat-dialog-title>Property Binding</h1>
<div mat-dialog-content class="container">
  <!-- custom properties -->
  <div class="example-container col-1-3">
    <h2>Properties</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="cps"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div class="example-box cp-list" *ngFor="let item of cps" cdkDrag>
        {{ item.DisplayName }}
      </div>
    </div>
  </div>
  <!--  tags -->
  <div class="example-container col-1-3">
    <h2>Tag</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Filter tags" />
    </mat-form-field>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tags"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of tags"
        cdkDrag
        (click)="onTagSelect(item)"
      >
        {{ item.displayName }}
      </div>
    </div>
  </div>
  <!-- tag meta data -->
  <div class="example-container col-1-3" *ngIf="selectedTag">
    <h2>
      <span> {{ selectedTag.displayName }}</span> Meta Data
    </h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tags"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box tag-metadata"
        *ngFor="let item of selectedTagMetaData"
        cdkDrag
      >
        <span class="tag-metadata__key"> {{ item.key }}</span>
        <span class="tag-metadata__value"> {{ item.value }}</span>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="action-bar">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial>Done</button>
</div>
