<h1 mat-dialog-title>Property Binding</h1>
<div mat-dialog-content class="container">
  <!-- custom properties -->
  <div class="example-container col-1-3">
    <h2>Properties</h2>

    <div
      cdkDropList
      #todoList="cdkDropList"
      [cdkDropListData]="cps"
      [cdkDropListConnectedTo]="[doneList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <!--  custom property item -->
      <div class="cp-box" *ngFor="let item of cps" cdkDrag>
        <span>{{ item.DisplayName }}</span>
        <div class="cp">
          <span>{{ item.Value }}</span>
        </div>
      </div>
    </div>
  </div>
  <!--  tags -->
  <div class="example-container col-1-3">
    <h2>Tag</h2>
    <mat-form-field>
      <input matInput [(ngModel)]="name" placeholder="Filter tags" />
    </mat-form-field>
    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tags"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list example-list--fix"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="example-box"
        *ngFor="let item of tags"
        cdkDrag
        (click)="onTagSelect(item)"
      >
        {{ item.displayName }}
      </div>
    </div>
  </div>
  <!-- tag meta data -->
  <div class="example-container col-1-3" *ngIf="selectedTag">
    <h2>
      <span> {{ selectedTag.displayName }}</span> Meta Data
    </h2>

    <div
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="tags"
      [cdkDropListConnectedTo]="[todoList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
    >
      <div
        class="tag-metadata-box"
        *ngFor="let item of selectedTagMetaData"
        cdkDrag
      >
        <div class="tag-metadata">
          <span class="tag-metadata__key"> {{ item.key }}</span>
          <span class="tag-metadata__value"> {{ item.value }}</span>
          <!-- cdkDragHandle -->
          <div class="example-handle" cdkDragHandle>
            <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
              <path
                d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"
              ></path>
              <path d="M0 0h24v24H0z" fill="none"></path>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div mat-dialog-actions class="action-bar">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial>Done</button>
</div>
